@model ParrisConnection.Models.Wall.Status

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5">
            @using (Html.BeginForm("AddStatus", "SingleStatus"))
            {
                <div class="form-group">
                    @Html.TextAreaFor(s => s.Post, new { @class = "form-control" })
                </div>
                <button type="submit" class="btn btn-primary">Update Status</button>
            }
        </div>
    </div>
</div>