@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Modules/app.js"></script>
<script src="~/Scripts/Controllers/wallcontroller.js"></script>

<script type="text/javascript">
    LoadCalendar();
    
</script>

<div class="ui grid" ng-app="WallApp" ng-controller="wallcontroller">
    <div class="five wide column">
        <br />
        <div id="date-popover" class="popover top" style="...">
            ...
            <div id="date-popover-content" class="popover-content"></div>
        </div>
        <div id="my-calendar"></div>

        <form id="EventForm" style="display: none;" class="ui form">
            <label>Event Name</label>
            <div class="field">
                <input type="text" name="title" id="TitleTextbox" />
            </div>
            <label>Description</label>
            <div class="field">                
                <textarea rows="5" name="description" id="DescriptionTextbox"></textarea>
            </div>
            <label>Event Date</label>
            <div class="field">                
                <input type="text" name="title" class="datepicker" id="DateTextbox"/>
            </div>
            <button type="button" class="ui primary button" onclick="CreateEvent()">Add Event</button>
        </form>
        <a id="AddEventLink" onclick="ToggleEventForm()">Add Event</a>
    </div>
    <div class="five wide column">
        <br />
        @Html.ActionLink("Update Status", "Index", "SingleStatus", null, new { @class = "ui primary button" })
        <br /><br />
        
        <div class="ui segement" ng-repeat="s in Statuses">
            {{ s.UserName }}
            {{ s.Post }}
            <div class="ui form">
                <div class="ui input">
                    <input type="text" ng-model="s.NewComment"/>
                </div>
                <br />
                <button type="submit" class="ui primary button" ng-click="createComment(s)">Comment</button>
                <br /><br />
                <ul>
                    <li ng-repeat="c in s.Comments">
                        <p>{{ c.PostComment}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
       
    </div>
    <div class="col-lg-4">
       
    </div>
    <div class="col-lg-4">
            
    </div>
</div>



