@model IEnumerable<ParrisConnection.DataLayer.Entities.Profile.Employer>



@foreach (var item in Model) {
    <div class="form-group">
        <label>@item.Name</label>
        @*<p>@item.JobTitle @item.DatesDisplay</p>*@
    </div>
    
}

