@model IEnumerable<ParrisConnection.ServiceLayer.Data.EmployerData>



@foreach (var item in Model) {
    <div class="form-group">
        <label>@item.Name</label>
        <p>@item.JobTitle @item.StartDate</p>
    </div>
    
}

