@model IEnumerable<ParrisConnection.ServiceLayer.Data.EducationData>

<
@foreach (var item in Model)
{
    <div class="form-group">
        <label>@item.Name</label>
        <p>@item.Degree</p>
        <p>@item.StartDate</p>
    </div>

}
