@model IEnumerable<ParrisConnection.DataLayer.Entities.Profile.Education>

<
@foreach (var item in Model)
{
    <div class="form-group">
        <label>@item.Name</label>
        <p>@item.Degree</p>
        @*<p>@item.DatesDisplay</p>*@
    </div>

}
